<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>@ViewData["Title"] - Vite.Mvc</title>
  <link rel="stylesheet" vite-href="~/dist/js/layout.js" asp-append-version="true"/>
  @await RenderSectionAsync("styles", false)
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
<div class="app-wrapper">

  @await Html.PartialAsync("_Header")

  @await Html.PartialAsync("_Sidebar")

  <!--begin::App Main-->
  <main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">Dashboard</h3></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
      @RenderBody()
    </div>
    <!--end::App Content-->
  </main>
  <!--end::App Main-->

  @await Html.PartialAsync("_Footer")
</div>

<script type="module" vite-src="~/dist/js/layout.js" asp-append-version="true"></script>
@await RenderSectionAsync("scripts", required: false)
</body>
</html>