@model Crud

@{
    ViewData["Title"] = "Editar";
    Layout = "_Layout";
}

<section class="content">
    <div class="container-fluid">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">Editar Item</h3>
            </div>
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id"/>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Nome"></label>
                        <input asp-for="Nome" class="form-control"/>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    <button type="submit" class="btn btn-warning">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script type="module" vite-src="~/dist/js/validacao.js" asp-append-version="true"></script>
}